 body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dqqdwbrhs/image/upload/v1678372964/749693_lucyae.jpg");
  background-size: cover;
  background-position: center;
} 

.auth-container {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth-form {
  margin: auto;
}

.auth-form h2 {
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0069d9;
}

.auth-form p {
  margin-top: 20px;
  text-align: center;
}

.auth-form p span {
  color: #00ff80;
  cursor: pointer;
}

.auth-form p span:hover {
  text-decoration: underline;
}
